.frame122-container {
  min-height: 100vh;
}
.frame122-frame122 {
  width: 100%;
  height: 950px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame122-image {
  top: 0px;
  left: -5.684341886080802e-14px;
  width: 1920px;
  height: 1024px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(21, 21, 21, 1);
}
.frame122-text {
  top: 218px;
  left: 181px;
  color: rgba(255, 200, 254, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame122-text1 {
  top: 281px;
  left: 181px;
  color: rgba(255, 200, 254, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame122-text2 {
  top: 316px;
  left: 181px;
  color: rgba(255, 200, 254, 1);
  width: 156px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}



@media screen and (max-width: 600px) {
  div.frame122-container {
    font-size: 30px;
    
  }
}